* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: url("cursor/arrow-pointer-solid-full.svg") 4 4 , text;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    margin-top: 10rem;
}

.container {
    height: 4rem;
    width: 50%;
}

.input {
    width: 100%;
    height: 100%;
    
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem;
    color: #3d3a3a;
    caret-color: #3d3a3a;
    
    border: 1px solid #c3c3c3;
    border-radius: 0.625rem;
    cursor: url("cursor/i-cursor-solid-full.svg") 4 4, text;

}

.input:focus {
    outline: none;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 10rem;
    padding: 1rem;

    background: #c3c3c3;
    border-radius: 0.3125rem;

    font-family: "Inter", sans-serif;
    color: #3d3a3a;
}

.count {
    font-family: "Source Code Pro", monospace;
    font-size: 3rem;
}